<a href="https://colab.research.google.com/github/windythalia/analysis-telco/blob/main/Apple_Stock_Analysis_(1980_2026)_Risk_%26_Trend_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import and Reading Data**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 90)

In [3]:
df = pd.read_csv('aapl_master_enriched.csv')

# **Data Understanding**
*   Dataframe shape
*   head and tail
*   dtypes
*   describe

In [ ]:
df.shape

(11370, 81)

In [1]:
df.head()

NameError: name 'df' is not defined

In [ ]:
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'dividends',
       'stock_splits', 'price_range', 'price_change', 'price_change_pct',
       'sma_5', 'ema_5', 'sma_10', 'ema_10', 'sma_20', 'ema_20', 'sma_50',
       'ema_50', 'sma_100', 'ema_100', 'sma_200', 'ema_200', 'volatility_5d',
       'volatility_10d', 'volatility_20d', 'volatility_50d', 'rsi_14', 'macd',
       'macd_signal', 'macd_histogram', 'bb_middle', 'bb_upper', 'bb_lower',
       'bb_width', 'volume_sma_20', 'volume_ratio', 'return_1d', 'return_5d',
       'return_10d', 'return_20d', 'return_60d', 'return_120d', 'return_252d',
       'close_lag_1', 'volume_lag_1', 'close_lag_2', 'volume_lag_2',
       'close_lag_3', 'volume_lag_3', 'close_lag_5', 'volume_lag_5',
       'close_lag_10', 'volume_lag_10', 'target_return_1d', 'target_direction',
       'year', 'month', 'day', 'dayofweek', 'quarter', 'is_month_start',
       'is_month_end', 'is_quarter_start', 'is_quarter_end', 'fiscal_year',
       'fiscal_quarter', 'price_range_mean', 'volatility_20d_mean',
       'rsi_14_mean', 'revenue_mac', 'revenue_services',
       'revenue_wearables_other', 'revenue_ipad', 'revenue_iphone',
       'revenue_total', 'share_mac', 'share_services', 'share_wearables_other',
       'share_ipad', 'share_iphone'],
      dtype='object')

In [ ]:
df.dtypes

date                        object
open                       float64
high                       float64
low                        float64
close                      float64
volume                       int64
dividends                  float64
stock_splits               float64
price_range                float64
price_change               float64
price_change_pct           float64
sma_5                      float64
ema_5                      float64
sma_10                     float64
ema_10                     float64
sma_20                     float64
ema_20                     float64
sma_50                     float64
ema_50                     float64
sma_100                    float64
ema_100                    float64
sma_200                    float64
ema_200                    float64
volatility_5d              float64
volatility_10d             float64
volatility_20d             float64
volatility_50d             float64
rsi_14                     float64
macd                       float64
macd_signal                float64
macd_histogram             float64
bb_middle                  float64
bb_upper                   float64
bb_lower                   float64
bb_width                   float64
volume_sma_20              float64
volume_ratio               float64
return_1d                  float64
return_5d                  float64
return_10d                 float64
return_20d                 float64
return_60d                 float64
return_120d                float64
return_252d                float64
close_lag_1                float64
volume_lag_1               float64
close_lag_2                float64
volume_lag_2               float64
close_lag_3                float64
volume_lag_3               float64
close_lag_5                float64
volume_lag_5               float64
close_lag_10               float64
volume_lag_10              float64
target_return_1d           float64
target_direction             int64
year                         int64
month                        int64
day                          int64
dayofweek                    int64
quarter                      int64
is_month_start               int64
is_month_end                 int64
is_quarter_start             int64
is_quarter_end               int64
fiscal_year                  int64
fiscal_quarter              object
price_range_mean           float64
volatility_20d_mean        float64
rsi_14_mean                float64
revenue_mac                float64
revenue_services           float64
revenue_wearables_other    float64
revenue_ipad               float64
revenue_iphone             float64
revenue_total              float64
share_mac                  float64
share_services             float64
share_wearables_other      float64
share_ipad                 float64
share_iphone               float64
dtype: object

In [ ]:
df.describe()

,open,high,low,close,volume,dividends,stock_splits,price_range,price_change,price_change_pct,sma_5,ema_5,sma_10,ema_10,sma_20,ema_20,sma_50,ema_50,sma_100,ema_100,sma_200,ema_200,volatility_5d,volatility_10d,volatility_20d,volatility_50d,rsi_14,macd,macd_signal,macd_histogram,bb_middle,bb_upper,bb_lower,bb_width,volume_sma_20,volume_ratio,return_1d,return_5d,return_10d,return_20d,return_60d,return_120d,return_252d,close_lag_1,volume_lag_1,close_lag_2,volume_lag_2,close_lag_3,volume_lag_3,close_lag_5,volume_lag_5,close_lag_10,volume_lag_10,target_return_1d,target_direction,year,month,day,dayofweek,quarter,is_month_start,is_month_end,is_quarter_start,is_quarter_end,fiscal_year,price_range_mean,volatility_20d_mean,rsi_14_mean,revenue_mac,revenue_services,revenue_wearables_other,revenue_ipad,revenue_iphone,revenue_total,share_mac,share_services,share_wearables_other,share_ipad,share_iphone
count,11370.000000,11370.000000,11370.000000,11370.000000,1.137000e+04,11370.000000,11370.000000,11370.000000,11370.000000,11369.000000,11366.000000,11370.000000,11361.000000,11370.000000,11351.000000,11370.000000,11321.000000,11370.000000,11271.000000,11370.000000,11171.000000,11370.000000,11366.000000,11361.000000,11351.000000,11321.000000,11357.000000,11370.000000,11370.000000,11370.000000,11351.000000,11351.000000,11351.000000,11351.000000,1.135100e+04,11351.000000,11369.000000,11365.000000,11360.000000,11350.000000,11310.000000,11250.000000,11118.000000,11369.000000,1.136900e+04,11368.000000,1.136800e+04,11367.000000,1.136700e+04,11365.000000,1.136500e+04,11360.000000,1.136000e+04,11369.000000,11370.000000,11370.000000,11370.000000,11370.000000,11370.000000,11370.000000,11370.000000,11370.000000,11370.000000,11370.000000,11370.000000,11370.000000,11357.000000,11357.000000,2.010000e+03,2.010000e+03,2.010000e+03,2.010000e+03,2.010000e+03,2.010000e+03,2010.000000,2010.000000,2010.000000,2010.000000,2010.000000
mean,28.247180,28.551948,27.959821,28.268216,3.093870e+08,0.000862,0.001495,0.592128,0.021036,0.001077,28.234523,28.224261,28.191060,28.167840,28.100958,28.051723,27.815137,27.700242,27.346961,27.146228,26.539534,26.120456,0.420107,0.591947,0.834415,1.313804,53.332540,0.163818,0.165483,-0.001665,28.100958,29.769788,26.432128,0.174669,3.097691e+08,1.013521,0.001077,0.005403,0.010766,0.021728,0.069230,0.144283,0.326416,28.248885,3.094105e+08,28.229524,3.094342e+08,28.210221,3.094567e+08,28.170994,3.094977e+08,28.069059,3.096154e+08,0.001077,0.499472,2002.974670,6.537907,15.739490,2.017942,2.512489,0.030343,0.033421,0.008355,0.011434,2003.227704,0.592128,0.833977,53.332540,3.100076e+10,7.206897e+10,3.307796e+10,2.594457e+10,1.816829e+11,3.437752e+11,0.091336,0.204835,0.095637,0.076050,0.532143
std,58.332434,58.953390,57.758590,58.382179,3.333205e+08,0.012952,0.082283,1.411644,0.924420,0.027629,58.309704,58.296338,58.215826,58.186581,58.017223,57.954517,57.355343,57.238273,56.269135,56.157493,54.597645,54.259673,1.051355,1.397390,1.854999,2.790760,17.537600,1.187432,1.114102,0.358148,58.017223,61.360546,54.721184,0.114941,2.716019e+08,0.531453,0.027629,0.061481,0.086629,0.123929,0.231589,0.365406,0.615552,58.348346,3.333257e+08,58.314379,3.333307e+08,58.280612,3.333368e+08,58.210635,3.333518e+08,58.020244,3.333779e+08,0.027629,0.500022,13.023422,3.437723,8.745633,1.400600,1.116596,0.171537,0.179742,0.091029,0.106320,13.028861,1.240648,1.719360,9.132206,4.745326e+09,2.296059e+10,7.817642e+09,4.193399e+09,2.727934e+10,6.121911e+10,0.010674,0.034441,0.013701,0.007540,0.036030
min,0.038072,0.038072,0.037645,0.037645,0.000000e+00,0.000000,0.000000,0.000000,-14.231334,-0.518692,0.039013,0.039565,0.040810,0.040856,0.042928,0.042629,0.044421,0.045634,0.048348,0.048944,0.055905,0.055672,0.000234,0.000425,0.000820,0.001987,2.898636,-10.593850,-8.307521,-4.328761,0.042928,0.047150,0.022887,0.028672,1.489264e+07,0.000000,-0.518692,-0.587617,-0.627737,-0.670335,-0.763501,-0.747346,-0.751830,0.037645,0.000000e+00,0.037645,0.000000e+00,0.037645,0.000000e+00,0.037645,0.000000e+00,0.037645,0.000000e+00,-0.518692,0.000000,1980.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1981.000000,0.000428,0.002302,18.100366,2.519800e+10,3.974800e+10,1.738100e+10,1.838000e+10,1.377810e+11,2.601740e+11,0.076593,0.149656,0.065442,0.067337,0.501907
25%,0.246489,0.252683,0.240865,0.245779,1.060811e+08,0.000000,0.000000,0.007498,-0.009372,-0.012422,0.247251,0.247070,0.247938,0.248862,0.248944,0.249945,0.254058,0.253289,0.260300,0.254302,0.266999,0.259096,0.004607,0.006664,0.009612,0.016216,40.474859,-0.005810,-0.005191,-0.003803,0.248944,0.274348,0.219006,0.103193,1.294449e+08,0.707037,-0.012422,-0.028059,-0.038093,-0.052591,-0.071068,-0.087521,-0.104767,0.245770,1.060976e+08,0.245770,1.061060e+08,0.245770,1.061104e+08,0.245770,1.061536e+08,0.245770,1.061998e+08,-0.012422,0.000000,1992.000000,4.000000,8.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1992.000000,0.009033,0.011334,46.368514,2.862200e+10,5.376800e+10,3.062000e+10,2.372400e+10,1.423810e+11,2.745150e+11,0.080997,0.187047,0.094099,0.069203,0.506335
50%,0.485038,0.493956,0.474584,0.484580,1.986064e+08,0.000000,0.000000,0.023693,0.000000,0.000000,0.482646,0.481183,0.478828,0.479235,0.478740,0.473704,0.480648,0.461641,0.491768,0.444738,0.524593,0.442571,0.015743,0.022464,0.033771,0.056575,53.351321,0.003133,0.003246,0.000091,0.478740,0.535323,0.436593,0.150618,2.128011e+08,0.900387,0.000000,0.005060,0.009836,0.020041,0.062642,0.121467,0.238398,0.484356,1.986096e+08,0.484237,1.986208e+08,0.484118,1.986320e+08,0.484074,1.986656e+08,0.483075,1.987664e+08,0.000000,0.000000,2003.000000,7.000000,16.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,2003.000000,0.019823,0.029809,54.536385,2.967050e+10,6.842500e+10,3.634550e+10,2.669400e+10,1.919730e+11,3.658170e+11,0.096196,0.195865,0.103957,0.074283,0.521112
75%,21.603634,21.842335,21.377591,21.629225,3.896942e+08,0.000000,0.000000,0.333678,0.012591,0.014166,21.687395,21.698051,21.687433,21.737890,21.810126,21.878624,21.929805,21.791702,21.791617,20.917813,20.787593,19.479419,0.235119,0.352337,0.505245,0.833500,66.645272,0.068168,0.067738,0.005167,21.810126,22.724602,20.687198,0.214222,4.035774e+08,1.177739,0.014166,0.036926,0.057473,0.093439,0.201451,0.303740,0.601504,21.627573,3.897320e+08,21.613179,3.897390e+08,21.605836,3.897460e+08,21.576580,3.897600e+08,21.542996,3.900078e+08,0.014166,1.000000,2014.000000,10.000000,23.000000,3.000000,4.000000,0.000000,0.000000,0.000000,0.000000,2015.000000,0.382923,0.600641,60.022045,3.519000e+10,8.520000e+10,3.836700e+10,2.929200e+10,2.011830e+11,3.910350e+11,0.101887,0.222289,0.104880,0.086422,0.524779
max,286.200012,288.619995,283.299988,286.190002,7.421641e+09,0.260000,7.000000,28.622129,26.808339,0.332281,282.598004,282.066685,280.365002,279.076821,277.514000,276.448183,273.001474,269.593902,261.263298,258.732088,234.734570,245.525918,20.132106,19.912852,16.018334,19.405167,97.864623,8.894984,8.264065,2.897433,277.514000,287.650173,269.550626,1.907978,1.879186e+09,10.224807,0.332281,0.667860,0.845853,1.202825,1.342851,2.336443,3.826899,286.190002,7.421641e+09,286.190002,7.421641e+09,286.190002,7.421641e+09,286.190002,7.421641e+09,286.190002,7.421641e+09,0.332281,1.000000,2026.000000,12.000000,31.000000,4.000000,4.000000,1.000000,1.000000,1.000000,1.000000,2026.000000,5.765383,8.150881,79.869547,4.017700e+10,1.091580e+11,4.124100e+10,3.186200e+10,2.095860e+11,4.161610e+11,0.104264,0.262298,0.111542,0.087098,0.620825

# **Data Preparation**

*   Dropping irrelevant columns and rows
*   Identifying duplicated columns
*   Renaming columns
*   Feature creation